form input {
  margin-top: 2rem;
  margin-left: 5px;
  margin-right: 1rem;
}

form label {
  font-weight: bold;
}

caption {
  font-weight: bold;
  font-size: 2rem;
  margin: 2rem;
}

.product-table {
  border-collapse: collapse;
}

.product-table th, .product-table td {
  border: 1px solid black;
  padding: 8px;
  min-width: 5rem;
  /* align-items: center; */
  text-align: center;
}

th {
  background-color: chartreuse;
}

button {
  background-color: blue;
  color: white;
  width: 5rem;
  height: 2rem;
  border-radius: 10px;
  border: none;
}

.deleteButton {
  background-color: rgb(255, 0, 0);
}

.grandTotal {
  color: rgb(6, 6, 7);
  background-color: rgb(107, 178, 197);
  font-weight: bold;
  border: 2px solid black;
}